<phpunit bootstrap="./Bootstrap.php">
	
    <testsuite name="balphp test suite">
        <directory>./</directory>
    </testsuite>

    <php>
    	<ini name="include_path"
			value="../lib:../../doctrine-1.2.2-lib:/usr/local/zend/share/ZendFramework/library:/usr/local/zend/share/pear"/>
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">../lib</directory>
            <exclude>
            	<directory>../lib/data</directory>
            	<directory>../lib/shop</directory>
            	<directory>../lib/models</directory>
            </exclude>
        </whitelist>
    </filter>
	
    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./log/testdox.html" />
    </logging>

</phpunit>